
@{
    ViewData["Title"] = "Error 404";
    Layout = "~/Views/Shared/_LayoutFrontend.cshtml";
}

  <!-- Error Page Start Here -->
<div class="error-page-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="error-page">
                    <img  src="~/frontend-asset/images/error.png" alt="">
                    <h3><span>Oops!</span> we are sorry, the page not found</h3>
                    <div class="go-back">
                        <a class="button btn btn-danger btn-lg" href="index.html">Back Home Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error Page End Here -->